<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Available Leaves</div>
          <div class="card-body">
            <div class="card-body">
                <!-- <canvas baseChart 
                [data]="availableLeavesData"
                [labels]="['Available Leaves']"
                [type]="'doughnut'"
               >
        </canvas> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Applied Leave</div>
          <div class="card-body">
            <!-- <div class="card-body">
                <canvas baseChart 
                [data]="availableLeavesData"
                [labels]="['Available Leaves']"
                [type]="'doughnut'"
               >
        </canvas> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Pending Approval</div>
          <div class="card-body">
            <div class="card-body">
                <!-- <canvas baseChart 
                [data]="availableLeavesData"
                [labels]="['Available Leaves']"
                [type]="'doughnut'"
               >
        </canvas> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Leave Balance</div>
          <div class="card-body">
            <!-- <canvas baseChart 
            [data]="availableLeavesData"
            [labels]="['Available Leaves']"
            [type]="'doughnut'"
           >
    </canvas> -->
          </div>
        </div>
      </div>
    </div>
  </div>